* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f3f4f6; 
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
}

.sidebar {
    width: 100%;
    height: 100px;
    background-color: #002c72; 
    color: white;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 800px;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
    margin-right: 40px;
}

.sidebar nav{
    display: flex;
    gap: 20px;
}

.menu-item {
    padding: 8px 3px;
    cursor: pointer;
    border-radius: 1px;
    margin-bottom: 0;
    transition: background 0.3s;
    font-size: 15px;
    white-space: nowrap;
}

.menu-item:hover {
    color: white;
    background-color: transparent;
}

.menu-item.active {
    background-color:transparent; 
    font-weight: bold;
    border-bottom: 2px solid #f56613;
}

.main-content {
    flex: 1; 
    padding: 50px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.dashboard-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.chart-placeholder {
    flex: 1; 
    border: 2px dashed #cbd5e1;
    border-radius: 8px;
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #f8fafc;
    color: #64748b;
    text-align: center;
}

.chart-placeholder strong {
    font-size: 18px;
    color: #475569;
}

.minha-logo {
    height: 60px; 
    width: auto;
    margin-right: 10px;
}